### C++ ###
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.a

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyCharm project user-specific stuff:
.idea/workspace.xml
.idea/tasks.xml

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# sftp configuration file
sftp-config.json

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# cscope and ctags
tags
cscope.files
cscope.out
cscope.in.out
cscope.po.out

### macOS ###
.DS_Store

### Gdb ###
.gdb_history

.gitconfig.local
