# http://askubuntu.com/questions/59846/bash-history-search-partial-up-arrow/59855#59855
# arrow up
"\e[A":history-search-backward
# arrow down
"\e[B":history-search-forward
set editing-mode vi
# vi settings
$if mode=vi
    # insert mode
    set keymap vi-insert
    "jk": vi-movement-mode
    # (ins) or (cmd) at beginning of prompt:
    # set show-mode-in-prompt on
$endif
